<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>A student HTML table</h2>

<table style="width:30%">
  <tr>
    <th>name</th>
    <th>id</th>
    <th>course</th>
    <th>sem</th>
    <th>attendance</th>
  </tr>
  <tr>
    <td>anand</td>
    <td>2010</td>
    <td>ba</td>
    <td>2</td>
    <td>99</td>
  </tr>
  <tr>
    <td>aathi</td>
    <td>2011</td>
    <td>bsc</td>
    <td>3</td>
    <td>88</td>
  </tr>
</table>

<p>To understand the example better, we have added borders to the table.</p>

</body>
</html>

