<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <h2>HTML Table</h2>


    <table>
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
        {% for element in companyData %}

        <tr>
            <td> {{ element.company }}</td>
            <td>{{ element.company }}</td>
            <td>{{ element.company }}</td>
        </tr>
        {% endfor %}


    </table>
    {% include 'colour.html' %}
    {% include 'doc.html' %}
</body>

</html>